*{
    color:white;
    font-family: nexa-light;
}

i{
    color:rgb(250, 212, 184);;
}

ul.navbar-left{

    background-color:#332f2c;
    max-width:20%;
    margin-right:0;
    
}



li.dash{
    padding: 20px;
}



div.listado{
    margin-top: 30px;
}

.navbar-left{
    height: 100vh;

}