* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a{
    text-decoration: none;
    font-family: nexa-light;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

i {
    color: #332f2c;
    font-size: 20px;
}
div.administrador{
    margin: auto;
    margin-right: 5%;
}
ul {
    list-style-type: none;
}

div.box-header {
    position: sticky;
    top: 0;
    max-width: 100%;
    height: auto;
    display: flex;
    background-color: rgb(114,141,117);
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo-header-img {
    display: flex;
    max-width: 80%
}




.nav-bar-header {
    display: none;
}



