*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.padre-panel{
    display: flex;
    position:relative;
    left: 900px;
    bottom: 1200px;
    flex-direction: column;
    width: 30%;

}

 .hijo-panel{
    
    text-align: center;
    margin-bottom: 15px;
    background-color:  rgb(250,212,184);
    border-radius: 8px;
}

.hijo-panel:hover{
    background-color: rgb(255, 196, 217) ;
}
